site_name: DataCooker
site_description: Documentation for the DataCooker recipe engine and pipelines.
docs_dir: docs_src
site_dir: docs

theme:
  name: material
  features:
    - navigation.instant
    - navigation.tracking
    - search.suggest
    - search.highlight
    - content.code.copy

plugins:
  - search

markdown_extensions:
  - admonition
  - toc:
      permalink: true
  - footnotes
  - def_list
  - pymdownx.highlight
  - pymdownx.inlinehilite
  - pymdownx.superfences
  - pymdownx.details
  - pymdownx.tabbed:
      alternate_style: true

nav:
  - Home: index.md
  - Getting Started: getting-started.md
  - Concepts: concepts.md
  - Pipelines: pipelines.md
  - API Reference: api.md
